.button{
    min-width: 100px;
    padding: 10px;
    font-size: 14px;
    border-radius: 3px;
    font-family: sans-serif;
    font-weight: 600;
    background: none;
    outline: none;
    transition: .4s;
    cursor: pointer;
}
.button:disabled,
.button:disabled:hover{
    color:#9c9c9c;
    border-color: #9c9c9c;
    background-color: transparent;
    cursor:auto;
}

.dark{
    border: 1px solid white;
    color: white;

}
.dark:hover{
    background-color: white;
    color: black;
}
.light{
    border: 1px solid black;
    color: black;
}
.light:hover{
    background-color: black;
    color: white;
}